@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;700&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* Estilos Generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: linear-gradient(to right top, #930c3d, #98235e, #953a7e, #89509b, #7765b2, #6176c3, #4487d0, #1696d7, #00a7db, #00b6d9, #00c5d2, #32d2c8);
    font-weight: 200;
    font-family: 'El Messeri', sans-serif;
    
}

h1{
    font-family: 'El Messeri', sans-serif;
    color: #450631;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #13BACE, 2px 2px 2px #CE3333;
    text-align: center;
    margin: 15px;

}


h2{
    text-align: center;
    color: #ce2d04;
    background-image: linear-gradient(to right top, #e28c62, #eb838b, #da87b4, #b493d1, #83a0da, #63abdc, #48b3d5, #43bac7, #46c5c0, #5acfb3, #78d7a2, #9bdd91);background-image: linear-gradient(to right top, #e28c62, #eb838b, #da87b4, #b493d1, #83a0da, #63abdc, #48b3d5, #43bac7, #46c5c0, #5acfb3, #78d7a2, #9bdd91);
    height: 60px;
    padding: 10px;
    text-shadow: 3px 1px 2px rgba(217,128,236,0.6);
    font-family: 'El Messiri', sans-serif;
    border: 5px outset #f56235;
    font-size: 17px;
    letter-spacing: 1px;

}

h3{
    text-align: center;
    background-image: linear-gradient(to left top, #38f6e5, #00dff9, #00c4ff, #00a5ff, #0080ff, #486dfd, #7155f4, #932fe5, #b832da, #d43dd0, #ea4cc7, #fb5fc0);
    font-family: 'Karla', sans-serif;
    color: #671903;
    border: 5px outset #580916;

}
h4{
    font-family: 'Karla', sans-serif;
    color: #4ba1c3;
    font-size: 22px;
    background-image: linear-gradient(to right, #e9423a, #e75135, #e45f31, #e16b2e, #dd762d, #e06c3a, #e06446, #df5c52, #d24770, #b3428b, #82499f, #374fa4);
    text-align: center;
    border-radius: 82% 10% 98% 0% / 100% 10% 97% 10%;
    border: 5px outset #0d9078;
    height: auto;


}


h5{
    font-family: 'Karla', sans-serif;
    color: #4ba1c3;
    font-size: 20px;
    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    border-radius: 30px;
    border: 5px outset #0d9078;
    height: auto;

}
 p{
     color: #f77f69;
     font-size: 14px;
     font-family: 'Karla', sans-serif;
     font-weight: bold;
     

 }


.hr-footer{
    color: #28a9ae;

}
.linkActive:hover{
    background: #a945c7;
    box-shadow: 0 0 10px  #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;

}
.linkActive:active{
    background: #a945c7;
    box-shadow: 0 0 10px  #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

/* estilos navbar */

.navbar{
    background: #b92b27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b92b27, #1565c0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #892b64 !important; 
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    padding: 15px;
    color: #44c489;
    
   

}

#navbar a{
    color: #20aec7;
    font-size: 20px;
    font-weight: bold;
    
}

.collapse-navbar-nav{
    color: #892b64 !important; 
    justify-content: center;}
   
.logo{
    width: 50px;
    height: 50px;
    color: #620e81;
}

#line1, #line2{
    width: 95%;
    margin: 15px auto;
    background-color: #620e81;
    size: 10px;
    
}

.carousel-item img{
    width: 100%;

}

main{
    height: auto;
    
}

.jumbotron{
    width: 100%;
    min-height: 520px;
    background-image: url(../pictures/diseño.jpg);
    background-size: cover;
}

.jumbotron p{
    background: #ff4b1f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff4b1f, #1fddff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff4b1f, #1fddff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px outset #cf1791;
    font-family: 'El Messari', sans-serif;
    color: #05354b;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

.jumbotron .btn-info{
    margin: 5px;
    height: 50px;
    width: 190px;
   

}

.btn-info{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    overflow: hidden;
    font-size: small;
    transition: 0.2;
    font-family: 'Kaushan Script', cursive;
    border-radius: 50%;
}

.btn-info:hover{
    background: #a945c7;
    box-shadow: 0 0 10px  #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;

}



.servicios{
    height: auto;
    width: 100%;
    background-color: #b8bebf;
    padding: 15px;

}

.feature{
   min-height: 380px;
   background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   border: 2px solid #3ce1b8;  
   
}

.feature img{
    height: 180px;
    width: 180px;
}

.feature p{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #cc5333;
    text-align: justify;

}

/* fin index */

/* Inicio Pages About */

#jumbotron1{
    background-image: url(../pictures/ecommerce.jpg);
    height: auto;
    background-size: fill;
    
}



#jumbotron1 p{
    color: #f9a675;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px outset #f56235;
    font-family: 'Karla', sans-serif;
    font-weight: 300;


}

/*fin pages Aboute */

/* Inicio Pages products */

#jumbotron2 {
    background-image: url(../pictures/dweb.jpg);
    background-size: contain;
    height: auto;
}

#jumbotron2 p{
    color: #f97582;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px outset #f56235;
    font-family: 'Karla', sans-serif;
    font-weight: 300;

}


.raw{
    height:auto;
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbo{
    border-radius: 50%;
}

.about{
    border-radius: 15px;
}

.home{
    border-radius: 25%;
}

/* PAGES PRODUCTS */

#jumbotron4{
    background-image: url(../pictures/product1.jpg);
    height: auto;

}

#jumbotron4 p{
    color: #f97582;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px outset #f56235;
    font-family: 'Karla', sans-serif;
    font-weight: 300;

}

.btn-danger{
    background-image: linear-gradient(to bottom, #e97e3a, #f76a62, #f2618c, #d968b3, #ad76d0, #8d7dd5, #6b82d5, #4585d0, #3c83c6, #3781bb, #357eaf, #377ba4);

    color: white;
    border-radius: 40px;    
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    overflow: hidden;
}

.btn-danger::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-danger:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.794);
}

.btn-danger:hover::after{
    transform: rotate(150deg);
}


/*Fin Page Products */

/*Inicio Page Clients */


#jumbotron3 {
    background-image: url(../pictures/asesor.png);
    background-size: cover;
    height: auto;
}


.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
    height: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #1b929d;
}
.card{
	width: 100%;
    height: auto;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #742503;
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #22b0b0;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;

    
}

#client{
    color: #930c3d;
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(to right, #f19230, #fd8a4b, #ff8464, #ff817c, #ff8292, #ff8a89, #fd9283, #f99a7e, #e5b16d, #c5c776, #9dd997, #72e6c7);
}

#contacto{
    font-family: 'Kaushan Script', cursive;
}
#contacto:hover{

    background: #0898d6;
    box-shadow: 5px 4px 5px 0px rgba(217,12,49,0.75);
    -webkit-box-shadow: 5px 4px 5px 0px rgba(208, 38, 70, 0.75);
    -moz-box-shadow: 5px 4px 5px 0px rgba(200, 59, 85, 0.75);
    transition-delay: 0.75s;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}



/*Aqui empieza Page form */

#jumbotron5{
    background-image: url(../pictures/jump.jpg);
    height: auto;

}

#jumbotron5 p{color: #f97582;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px outset #f56235;
    font-family: 'Karla', sans-serif;
    font-weight: 300;

}

/* FORM */

.form{
    width: 100%;
    height: auto;
    min-height: 650px;
    font-family: 'El Messari', sans-serifs;
    font-size: 15px;
    color:#b30536;
    font-weight: 900; 
    background: linear-gradient(
        111deg,
        rgba(35, 125, 113, 0.844) 0%,
        rgba(61, 79, 240, 0.678) 100%);
    box-shadow:
     inset 0px 10px 5px 0px rgba(45, 227, 136, 0.736),
     inset 65px -46px 5px 0px rgba(186, 198, 242, 0.597);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
   }

#name{
    width: 100px;
    height: 52px;
    border-radius: 15px;
    font-family: 'El Messari', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background: #FF6F91;
}

#correo{
    border-radius: 15px;
    width: 100px;
    height: 52px;
    border-radius: 15px;
    font-family: 'El Messari', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background: #FF9671;

}

#mobile{
    border-radius: 15px;
    width: 100px;
    height: 52px;
    border-radius: 15px;
    font-family: 'El Messari', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background:#C4FCEF;
}

#rubro{
    border-radius: 15px;
    width: 100px;
    height: 52px;
    border-radius: 15px;
    font-family: 'El Messari', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background: #5ab1ce;
}

#service{
    border-radius: 15px;
    width: 100px;
    height: 52px;
    border-radius: 15px;
    font-family: 'El Messari', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background:#845EC2 ;

}

#cv{border-radius: 15px;
    width: 100px;
    height: 52px;
    border-radius: 15px;
    font-family: 'El Messari', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 2px;
    text-transform: uppercase; 
    font-weight: bold;
    background: #f66043;

}
#name:hover{
    background: #cc5333;
    box-shadow: 0 0 10px  #fd9554, 0 0 40px #56abec, 0 0 80px #56ecc6;
    transition-delay: 1s;
    color: #b493d1;

}
#correo:hover{
    background: #cc5333;
    box-shadow: 0 0 10px  #fd9554, 0 0 40px #56abec, 0 0 80px #56ecc6;
    transition-delay: 1s;
    color: #b493d1;
}
#mobile:hover{
    background: #cc5333;
    box-shadow: 0 0 10px  #fd9554, 0 0 40px #56abec, 0 0 80px #56ecc6;
    transition-delay: 1s;
    color: #b493d1;
    
}
#rubro:hover{
    background: #cc5333;
    box-shadow: 0 0 10px  #fd9554, 0 0 40px #56abec, 0 0 80px #56ecc6;
    transition-delay: 1s;
    color: #b493d1;
}
#service:hover{
    background: #cc5333;
    box-shadow: 0 0 10px  #fd9554, 0 0 40px #56abec, 0 0 80px #56ecc6;
    transition-delay: 1s;
    color: #b493d1;
}
#cv:hover{
    background: #cc5333;
    box-shadow: 0 0 10px  #fd9554, 0 0 40px #56abec, 0 0 80px #56ecc6;
    transition-delay: 1s;
    color: #b493d1;

}



#btn-info{
    background-color: #00b6d9;
    width: 200px;
    height: auto;
    border-color:#EB9532 !important;
    transition: box-shadow 0.2s ease-in-out;
    padding: 10px;
    margin: 10px;
    font-family: 'Kausha Script', cursive;
 }


 #btn-info:hover{
    box-shadow: 0 0 40px 40px #930c3d inset;

 }

 #btn-cotizar{
    border-color:#16A085 ;
    box-shadow: 0 0 40px 40px #a70355 inset;
    transition: box-shadow 0.2s ease-in-out;
    width: 200px;
    height: auto;
    padding: 10px;
    font-family: 'Kausha Script', cursive;
 }

 #btn-cotizar:hover{
    box-shadow: 0 0 10px 0 #b30536 inset, 0 0 10px 4px #930c3d;
 }

   


/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    text-align: justify;
    font-family: 'Karla', sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #030e1d, #181724, #271e2a, #35272f, #403134, #453638, #4a3a3d, #4f3f41, #4f3f46, #4c404a, #48424f, #434452);
    box-shadow: 0 8px 32px 0 rgba(129, 24, 45, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}



.terms{
    text-shadow: none;
    background: none;
    border: none;

}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 80px;
    flex-wrap: wrap;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h4{
    margin-bottom: 30px;
    color: #308f9c;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #6aeaca;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

#namelogo{
    border-radius: 15px;
}

.letters{ border-radius: 15px;}


/* Media Queries */


@media(min-width: 500px) {

    .logo{text-align: center;
        font-size: 15px;

    }
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}